<div class="d-inline-block w-75 mt-2">
  <%= render 'layouts/messages' %>
</div>

<% if @friend %>
  <div class="card card-header d-inline-block w-75">
    <strong>Email: </strong> <%= @friend %>
    <strong>First Name: </strong> <%= @friend %>
    <strong>Last name: </strong> <%= @friend %>
    <%= link_to 'Add to portfolio', '#',
                  class: 'btn btn-success btn-xs', method: :post %>

  </div>
<% end %>
