<div class="d-inline-block w-75 mt-2">
  <%= render 'layouts/messages' %>
</div>

<% if @friends %>
  <div class="card card-header d-inline-block w-100">
    <table class="table">
      <tbody>
      <% @friends.each do |friend| %>
        <tr>
         <td> <strong >Name: </strong> <span class="fw-light"><%= friend.full_name %></span> </td>
         <td> <strong >Email: </strong> <span class="fw-light"> <%= friend.email %> </span></td>
         <td colspan="2">  <%= link_to 'View Profile', user_path(friend), class:  'btn btn-success btn-sm'  %>
           <% if current_user.not_friends_with?(friend) %>
          <%= link_to 'Follow', friendships_path(friend: friend),
                      class: 'btn btn-info btn-sm', method: :post %>
             <% else %>
           <span class="text-muted fs-6 fw-light">Following</span>
           <% end %>
         </td>
        </tr>
      <% end %>

      </tbody>
    </table>


  </div>
<% end %>
