<div class="w-75 mx-5  bg-white p-3 mt-5 pb-2">
 <h3 class="text-center"><%= @user.full_name %></h3>
  <div>
    <div>
      <table class="table table-bordered">
        <tr>
          <th>First Name</th>
          <td><%= @user.first_name %></td>
        </tr>
        <tr>
          <th>Last Name</th>
          <td><%= @user.last_name %></td>
        </tr>
        <tr>
          <th>Email</th>
          <td><%= @user.email %></td>
        </tr>
        <tr>
          <th>Date Joined</th>
          <td><%= time_ago_in_words(@user.created_at) + ' ago' %></td>
        </tr>
        <tr>
          <th>Following</th>
          <td><%= @user.friends.count %></td>
        </tr>
        <tr>
          <th>Tracking</th>
          <td><%= "#{@user.stocks.count} stocks" %>  <button type="button" class="btn btn-primary btn-sm float-end" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            View Stocks
          </button> </td>

        </tr>
        <tr>
          <th>Status</th>
          <td>
            <% if current_user.not_friends_with?(@user) %>
              <%= link_to 'Follow', friendships_path(friend: @user),
                          class: 'btn btn-info btn-sm', method: :post %>
            <% else %>
              <span class="text-muted fs-6 fw-light">Following</span>
            <% end %>
          </td>
        </tr>
      </table>
      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">Stocks</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <% unless @tracked_stocks.empty? %>
                <%=  render 'stocks/list'  %>
              <% end %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
