<div class="sidebar">
  <div class="brand">Finance Tracker</div>
  <div class="brandline"></div>
  <nav>
    <ul>
      <li class="<%= 'active' if request.path == root_path %>">  <%= link_to 'Home',root_path %></li>
      <li class="<%= 'active' if request.path == my_portfolio_path %>">   <%= link_to 'Portfolio',my_portfolio_path %></li>
      <li>  <a class="" aria-current="page" href="#">Home</a></li>
      <li>  <a class="" aria-current="page" href="#">Home</a></li>
      <li> <%= link_to 'Log out',destroy_user_session_path, method: :delete %> </li>
    </ul>
  </nav>
</div>
